:root {
  --font-primary: "Nunito Sans", sans-serif;
  --background-primary: #fafafa;
  --color-primary: #ffffff;
  --border-color: #c8c8c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button,
input {
  outline-offset: 4px;
}

ul {
  list-style: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
